mode: virtual
base_url: "https://openapivts.koreainvestment.com:29443"

app_key: "aaa"
app_secret: "sssY="

cano: "50194135"
acnt_prdt_cd: "01"

stock_code: "005930"
stock_name: "삼성전자"

# 한 번 매수할 금액
buy_amount: 3000000

simulation_mode: true
